# Multi-Agent Framework
phidata

# LLM
groq

# Web Scraping & Search
requests
beautifulsoup4
duckduckgo-search

# Data Analysis & Visualization
matplotlib
wordcloud
textblob
pandas
numpy

# PDF & Report Generation
markdown
fpdf

# UI
streamlit

# Utilities
python-dotenv
loguru